/*--- Deconnstructed ---*/
.deconstructed {
  position: relative;
  height: 1em;
  overflow: hidden;
  color: transparent;
  font-family: "Cambay", sans-serif;
  letter-spacing: -0.02em;
  line-height: 1.03em;
}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
}
.deconstructed:hover > div:nth-child(1) {
  animation: deconstructed1 2s 1;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(
    transparent 25%,
    black 25%,
    black 50%,
    transparent 50%
  );
  mask-image: linear-gradient(
    transparent 25%,
    black 25%,
    black 50%,
    transparent 50%
  );
}
.deconstructed:hover > div:nth-child(2) {
  animation: deconstructed2 2s 1;
}

.deconstructed > div:nth-child(3) {
  -webkit-mask-image: linear-gradient(
    transparent 50%,
    black 50%,
    black 75%,
    transparent 75%
  );
  mask-image: linear-gradient(
    transparent 50%,
    black 50%,
    black 75%,
    transparent 75%
  );
}
.deconstructed:hover > div:nth-child(3) {
  animation: deconstructed3 2s 1;
}

.deconstructed > div:nth-child(4) {
  -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
}
.deconstructed:hover > div:nth-child(4) {
  animation: deconstructed4 2s 1;
}

/* --- Light ---*/
.deconstructed_light {
  composes: deconstructed;
}
.deconstructed_light > div {
  color: white;
}
.deconstructed_light > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(white 25%, transparent 25%);
  mask-image: linear-gradient(white 25%, transparent 25%);
}
.deconstructed_light > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(
    transparent 25%,
    white 25%,
    white 50%,
    transparent 50%
  );
  mask-image: linear-gradient(
    transparent 25%,
    white 25%,
    white 50%,
    transparent 50%
  );
}
.deconstructed_light > div:nth-child(3) {
  -webkit-mask-image: linear-gradient(
    transparent 50%,
    white 50%,
    white 75%,
    transparent 75%
  );
  mask-image: linear-gradient(
    transparent 50%,
    white 50%,
    white 75%,
    transparent 75%
  );
}
.deconstructed_light > div:nth-child(4) {
  -webkit-mask-image: linear-gradient(transparent 75%, white 75%);
  mask-image: linear-gradient(transparent 75%, white 75%);
}

@keyframes deconstructed1 {
  0% {
    transform: translateY(-100%);
  }
  26% {
    transform: translateY(0%);
  }
  83% {
    transform: translateY(-0.1%);
  }
  100% {
    transform: translateY(120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateY(-100%);
  }
  24% {
    transform: translateY(0.5%);
  }
  82% {
    transform: translateY(-0.2%);
  }
  100% {
    transform: translateY(125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateY(-100%);
  }
  22% {
    transform: translateY(0%);
  }
  81% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(135%);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
